@font-face {
    font-family: 'Courier New';
    src: url('../webfonts/CourierNewPSMT.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Courier New';
    src: url('../webfonts/CourierNewPS-BoldMT.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Courier New';
    src: url('../webfonts/CourierNewPS-BoldItalicMT.woff2') format('woff2');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Courier New';
    src: url('../webfonts/CourierNewPS-ItalicMT.woff2') format('woff2');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}